:root{
    --bg :  #FFFFFF;
    --font-family:'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


@media screen and (max-width: 450px) {
    body{
        background-color: var(--bg);
        height: 100vh;
        display: block;
 
        
       
    }
    .container{
        margin: 0, 12px;
        display: grid;
        grid-template-areas: "img "
        "hd"
        "car1 "
        "car2";
        gap: 40px;
        padding: 10px 19px 0 0;
    }
    .skyscraper-img{
        width: 393px;
        height: 307px;
    }
    .card{
        margin-left: 18px;
    }
       
    
    .image{
        grid-area: img;
        
    }
    .header{
        grid-area: hd;
        width: auto;
        font-size: 48px;
        line-height: 110%;
        font-style: normal;
        font-weight: 400;
        padding: 20px;
    }
    .card1{
        grid-area: car1;
    }
    
    .card2{
        grid-area: car2;
    }
    .card{
        width: 300px;
        height: 714px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 43px;
        font-size: 32px;
        /* border: solid 1px lightgray; */
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .card:hover{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50); 
    }
    .car-img{
        width:300px ;
    }
    .text p{
        padding: 16px;
    }
    .card-footer{
        /* width: 380px; */
        height: 86px;
        text-decoration: underline;
        font-variant: small-caps;
        font-weight: 700;
        text-align: right; 
        padding: 20px;
        
    }
    
    .card-footer p{
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    body{
        display: flex;
        align-items: center;
        height: 100vh;
        width: auto;
       
    }
    
    .container{
        margin: 0, 12px;
        display: grid;
        grid-template-columns: repeat(6, auto);
        /* grid-auto-rows: minmax(10px, auto); */
        grid-template-areas: "img img hd hd hd hd"
        "img img car1 car1 car2 car2";
        
        gap: 40px;
        padding: 10px 40px 0 0;
    }
    
    .skyscraper-img{
        width: 366px;
        height: 850px;
    }
    .image{
        grid-area: img;
        
    }
    .header{
        grid-area: hd;
        width: auto;
        font-size: 32px;
        line-height: 110%;
        font-style: normal;
        font-weight: 400;
        padding: 20px;
    }
    .card1{
        grid-area: car1;
    }
    
    .card2{
        grid-area: car2;
    }
    .card{
        width: 326px;
        height: auto;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 43px;

        /* border: solid 1px lightgray; */
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .card:hover{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50); 
    }
    .car-img{
        width:326px ;
    }
    .card-footer{
        /* width: 380px; */
        height: 86px;
        text-decoration: underline;
        font-variant: small-caps;
        font-weight: 700;
        text-align: right; 
        padding: 20px;
        
    }
    
    .card-footer p{
        cursor: pointer;
    }
}
@media only screen and (min-width: 1002px) {

    .skyscraper-img{
        width: 710px;
        height: 850px;
    }
    .car-img{
        width:420px ;

    }
    .card{
        width: 420px;
    }
}

